body {
	margin: 0;
}

.hide {
	display: none !important;
}

.imageBox {
	display: inline-block;
    position: relative;
}

.imageBox span {
	position: absolute;
    width: 100%;
}

.imageBox a {
	position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
}

.imageBox img {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

.imageBox img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imageBox button {
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 17px;
	width: 64px;
}

.imageBox p {
	text-align: center;
	margin: auto;
	margin-top: 17px;
	width: 100px;
    background-color: white;
    padding: 4px;
    border-radius: 3px;
}

.imageBox .loader {
	position: absolute;
	border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

@-webkit-keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





